 

@{
    ViewBag.Title = "Product Promotions NotFound";
}
<h5>@ViewData["Title"]</h5>


<div>
   
    @Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn btn-default btn-info" })
</div>
 
