<!DOCTYPE html>
<html ng-app="salesApp" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EShop</title>
    <environment include="Development">
        <script type="text/javascript" src="~/lib/angular.js/angular.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" /> 
    </environment>
    <environment include="Production">
        <script type="text/javascript" src="~/lib/angular.js/angular.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    </environment>
   @{
        await Html.RenderPartialAsync("_AngularGridUIScriptPartial");
   }
   
    <link rel="stylesheet" href="~/css/glyphiconIcons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <script type="text/javascript">
        var myapp = angular.module("salesApp", ["ui.bootstrap", "ui.grid", "ui.grid.pagination", "ui.grid.edit", "ui.grid.rowEdit", "ui.grid.exporter", "720kb.datepicker", "ui.grid.selection", "ui.grid.exporter"]);
    </script>
 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav style="margin-bottom:0px;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow btn-info">
            <a href="/Home/Index"><img alt="companylogo" width="200" height="40" src="~/images/OnlineShopping.png" /></a>
            <div class="container">              
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav navbar-nav flex-grow-1">                             
                        <li>
                         @await Component.InvokeAsync("SearchBox")                            
                        </li>                       
                    </ul>  
                    <partial name="_LoginPartial" />
                </div> 
            </div>
        </nav> 
    </header> 
    <div class="container" style="margin-left:0px;width: 100%;padding: 0px;">
        <div sthle="width:12%;margin:auto;display:inline-block;" class="leftmenu">
            @await Component.InvokeAsync("DynamicMenu")
        </div>        
        <main role="main" class="bodystyle pb-3">           
            @RenderBody()
        </main>
    </div> 
 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - EShop
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>      
    </environment>
    <environment include="Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>      
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
